<h3 class="ion-text-center">Compre seu Imóvel</h3>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/62/17/12/47/360x266/2514191296.jpg"></ion-img>
        </ion-card-header>
      </ion-item>
        <ion-card-content>
          <ion-button color="primary">detalhes</ion-button>
          <ion-card-title>R$ 972.669</ion-card-title>
          <ion-card-subtitle>Avenida Araucarias</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/54/63/65/92/720x532/2461468156.jpg" alt=""></ion-img>
        </ion-card-header>
      </ion-item>
        <ion-card-content>
          <ion-button color="primary">detalhes</ion-button>
          <ion-card-title>R$ 972.669</ion-card-title>
          <ion-card-subtitle> Mooca, São Paulo</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-slide>
      <ion-card>
        <ion-item>
          <ion-card-header>
            <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/46/74/97/90/720x532/1767700234.jpg" alt=""></ion-img>
          </ion-card-header>
        </ion-item>
          <ion-card-content>
            <ion-button color="primary">detalhes</ion-button>
            <ion-card-title>R$ 790.000</ion-card-title>
            <ion-card-subtitle>Curitiba, Paraná . </ion-card-subtitle>
          </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slide>
</ion-slides>