<ion-content [fullscreen]="true">
  <ion-header>
  <ion-toolbar>
        <ion-title>Imóveis</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
  <app-promocao></app-promocao>
   <app-card-imovel></app-card-imovel>
   <app-alugar></app-alugar>
   <app-comprar></app-comprar>
</ion-content>
