<h3 class="ion-text-center">Apartamento para alugar</h3>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/48/89/07/85/720x532/1893052424.jpg"></ion-img>
        </ion-card-header>
      </ion-item>
        <ion-card-content>
          <ion-button color="primary">detalhes</ion-button>
          <ion-card-title>R$ 972.669</ion-card-title>
          <ion-card-subtitle>	Consolação, São Paulo. </ion-card-subtitle>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/54/63/65/92/720x532/2461468156.jpg" alt=""></ion-img>
        </ion-card-header>
      </ion-item>
        <ion-card-content>
          <ion-button color="primary">detalhes</ion-button>
          <ion-card-title>R$ 972.669</ion-card-title>
          <ion-card-subtitle>Curitiba, Paraná . </ion-card-subtitle>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-slide>
      <ion-card>
        <ion-item>
          <ion-card-header>
            <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/62/17/12/47/360x266/2514191296.jpg" alt=""></ion-img>
          </ion-card-header>
        </ion-item>
          <ion-card-content>
            <ion-button color="primary">detalhes</ion-button>
            <ion-card-title>R$ 102.669</ion-card-title>
            <ion-card-subtitle>Itaim Bibi, São Paulo</ion-card-subtitle>
          </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slide>
</ion-slides>