.bg{
    background-image: url('../../../assets/bg_img.jpg');
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex; align-items: center; justify-content: center;
    border-radius: 10px;
  }
  