<div class="bg">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
       <h3>Imóveis com menores preços</h3>
      </ion-col>
      <ion-col>
       <ion-button color="tertiary">Ver Imóveis</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>