  <h3 class="ion-text-center">Os melhores imóveis para você</h3>
<ion-slides pager="true" [options]>
  <ion-slide>
    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-img src="https://imgbr.imovelwebcdn.com/avisos/resize/2/29/55/26/35/27/1200x1200/2226962764.jpg"></ion-img>
        </ion-card-header>
      </ion-item>
        <ion-card-content>
          <ion-button color="primary">detalhes</ion-button>
          <ion-card-title>R$ 972.669</ion-card-title>
          <ion-card-subtitle>Avenida Araucarias</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/48/89/07/85/720x532/1893052424.jpg" alt=""></ion-img>
        </ion-card-header>
      </ion-item>
        <ion-card-content>
          <ion-button color="primary">detalhes</ion-button>
          <ion-card-title>R$ 800.000</ion-card-title>
          <ion-card-subtitle> Patamares, Salvador</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-slide>
      <ion-card>
        <ion-item>
          <ion-card-header>
            <ion-img src="https://imgbr.imovelwebcdn.com/avisos/2/29/62/17/12/47/360x266/2514191296.jpg" alt=""></ion-img>
          </ion-card-header>
        </ion-item>
          <ion-card-content>
            <ion-button color="primary">detalhes</ion-button>
            <ion-card-title>R$ 972.500</ion-card-title>
            <ion-card-subtitle>Itaim Bibi, São Paulo</ion-card-subtitle>
          </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slide>
</ion-slides>






